@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #4e4f55;
  font-family: "Fira Sans", Helvetica, sans-serif;
  /*animation: smoothLoad;*/
  animation-duration: 1.5s;
  background-color: #fafafa;
}

@keyframes smoothLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
